# Environment variables
.env

# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
logs/

# dbt
dbt/dbt_packages/
dbt/target/
dbt/logs/
dbt/dbt_project.yml.jinja
*.log